@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<partial name="_Notification">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-5 py-5">
            <div class="col-12 col-lg-6">
                <div class="bg-secondary bg-opacity-10 py-2 mb-5">
                    <div class="container">
                        <h1>Insuranex</h1>
                    </div>
                </div>
                <p class="lead">
                    Insuranex, An efficient policy management to serve customers effectively. Our website aims to revolutionize policy handling by providing agents with powerful tools and streamlined workflows. By leveraging cutting-edge technologies, we enhance customer interactions, simplify administrative tasks, and boost overall operational efficiency. Let’s explore the key features and benefits of our solution.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <img src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=600"
                     class="d-block mx-lg-auto img-fluid" width="400" />
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">

                <h2 class="mb-5 display-3">Policies</h2>

                @* <div class="mb-5">
                    @if (Model.Tags != null && Model.Tags.Any())
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <a href="/tags/@tag.Name">
                                <span class="badge bg-dark">@tag.Name</span>
                            </a>

                        }
                    }
                </div> *@

                @if (Model.InsurancePlans != null && Model.InsurancePlans.Any())
                {
                    foreach (var policy in Model.InsurancePlans)
                    {
                        <div class="mb-5 bg-light box-shadow">
                            <img src="@policy.FeaturedImageUrl" alt="@policy.PolicyName" class="mb-2 d-block img-fluid" />
                            <div class="px-4 py-4">
                                <h2 class="mb-2">@policy.PolicyName</h2>
                                <p>
                                    Key Features: @policy.KeyBenefits
                                    <br />
                                    Date Effective: @policy.EffectiveDate.ToShortDateString()
                                </p>
                                <p class="mb-2">@policy.Features</p>
                                <a href="/policy/@policy.UrlHandle" class="btn btn-dark">Read More</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
